body {
    background-color: #d3f1f1;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #007a86;
    color: #fff;
    padding: 0 15px; /* Adjust padding as needed */
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height:150px; /* Matches the header height */
    width: auto;
  }
  
  .logo-text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 15px; /* Adds space between the logo and the text */
  }
  
  .social-icon {
    height: 50px;
    width: 50px;
  }
  
  .social-media {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
  }
  
  nav {
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
  }
  .home-img{
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 200px;
    border: none;
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    border-radius: 40%;
    background-color: #fff;
}

.home-icon{
    height: 40px;
    padding:5px 5px 1px;
}

.feed-img{
    cursor: pointer;
    position: fixed;
    left: 10px;
    bottom: 250px;
    border: none;
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    border-radius: 40%;
    background-color: #fff;
}

.feed-icon{
    height: 40px;
    padding:5px 5px 1px;
}

.heading {
    color: #0f5858;
   margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-product-image {
    width: 700px;
    height: 500px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 25);
    display: block;
    margin: 20px auto;

}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.product-images-container {
    display: flex;
    justify-content: center;


}



h3 {
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
    color: #10353e;
}

.bttn {
    padding: 10px 20px;
    background-color: #10353e;
    color: white;
    margin: 30px 660px;
    border-radius: 20px;
    box-shadow: 20px;
    border: 5px  #10353e;
    cursor: pointer;
    text-decoration: none;

}

.bttn:hover {
    background-color: white;
    color: #10353e;
    border: 1px #10353e;
}

button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*theme-switch*/
.theme-select-icon {
    height: 30px;
    cursor: pointer;
}

.theme-selector-container {
    position: fixed;
    right: 30px;

}

.bg-dark {
    background-color: #10353e;
    color: white;

}

.bg-dark h1 {
    color: white;
}
.bg-dark .highlight , p{
    color: #10353e;
}

.bg-dark h3  {
    color: #10353e;
}


.bg-dark .data-card{
    color: #10353e;

}

.bg-light {
    background-color: 
    color:black;

}

/*Data card */

.data-card {
    background-color: #b8ecec;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    align-items: center;
    width: 550px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d3f1;
    font-size: 22px;
    justify-content: center;

}

.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 30px;
    
    
}
.data-container a {
    text-decoration: none;
    color: #10353e;
}




.data {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.data :hover {
    background-color: #10353e;
    color: white;
}

/*cards */

h1 {
    font-size: 30px;
    color: #10353e;
    text-align: center;
    margin-top: 30px;
}

.card {
    background-color: #F0F0F0;
    margin: 20px;  
    border-radius: 10px;
    width: 340px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d3f1;
    text-align: center;
    
}
.card img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    
}

.info {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





.highlight {
    font-weight: bold;
    width: 100%;
}

.know-about{
    justify-content: center;
    text-align: center;
}
.video-container{
    justify-content: center;
    text-align: center;
   border-radius: 20px;
}
.btn-quiz{
    margin: 20px auto;
    height: 50px;
    width: 25%;
    display: block;
    text-align: center;
    color: white;
    background-color: #10353e;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    
}
.btn-quiz:hover {
    background-color: white;
    color: #10353e;
    border: 1px solid #10353e;
}


/*Explore-cerd */
.Other-wonders {
    font-weight: bold;
    font-size: 30px;
    color: #10353e;
    justify-content: center;
    text-align: center;
}

.explore-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    padding: 20px;
    margin-left: 9%;
}

.explore-card {
    background-color: #F0F0F0;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 290px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d3f1;
    text-align: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);

}

#img {
    height: 190px;
    width: 100%;
}

.explore-card img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.explore-info {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 35px;
    color: #10353e;
    margin-top: 5px;

}

.explore-info:hover {
    color: #d3f1;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #10353e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none; 
    display: inline-block; 
    
   
}

.btn:hover {
    background-color: white;
    color: #10353e;
    border: 1px solid #10353e;
}



/*Footer */
.footer-container {
  display: flex;
  flex-direction: row;
}

.contact {
  margin-top: 40px;
  padding-left: 260px;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pages {
  font-size: 18px;
  margin-top: 5px;
  padding-right: 270px;
  padding-top: 10px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}


.social-icon {
  height: 50px;
  width: 50px;
  padding: 7px;
}

.social-media {
  margin-top: 70px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
}

nav {
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}

footer {
  background-color: #007a86;
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 6px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 6px auto;
  justify-content: space-around;
}

.foot-text {
  text-align: center;
  font-size: 20px;
}

.social-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
/*Media Query */

/* Media Query for screens with a max width of 600px */
@media screen and (max-width: 600px) {
   
    header {
        background-color: #007a86;
        color: #fff;
        padding: 0 8px; 
        width: 100%;
        display: flex;
        align-items: center;
      }
      
      .logo-img {
        display: none;
      }
      .logo-text {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 18px;
        margin-left: 15px; 
      }
    
    /* Adjust product images */
    .product-images-container {
        flex-direction: column;
        align-items: center;
    }
    
    .product-image {
        width: 100; 
        margin: 5px 0; 
    }
    
    /* Explore cards adjustments */
    .explore-card {
        width: 90%; 
        margin: 10px;
        font-size: 0.8rem; 
    }

    .explore-info {
        font-size: 14px; 
    }
    
    .btn {
        width: 90%;
        font-size: 15px; 
    }
    /* Buttons */
    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
    
    /* Footer adjustments */
    .social-media {
        visibility: visible; 
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .contact, .pages {
        visibility: hidden; 
    }
    
    .social-icon {
        width: 25px; 
        height: 25px; 
    }
    
    .foot-text {
        margin-top: 3px;
        text-align: center;
        font-size: 10px;
        width: 100%;

    }
    
    /* Main heading */
    .heading {
        font-size: 24px;
    }
    
    
    #main-product-image {
        width: 100%;
        height: auto;
    }
   
    .video-container iframe{
        width: 100%;
        height: 150px;

    }
    .data {
        flex-direction: column; 
        align-items: center;
    }
    
    .data-card {
        margin: 5px 0;
        font-size: 19px; 
        width: 100%;
    }
    
    .map iframe {
        height: 200px; 
        width: 100%;
        visibility: visible; 
    }
   
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    header {
        background-color: #007a86;
        color: #fff;
        padding: 0 8px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .logo-img {
        display: none;
    }
    
    .logo-text {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 18px;
        margin-left: 15px;
    }
    
    /* Adjust product images */
    .product-images-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product-image {
        width: 100%; 
        margin: 5px 0;
    }
    
    /* Explore cards adjustments */
    .explore-card {
        width: 90%;
        margin: 10px;
        font-size: 0.8rem;
    }

    .explore-info {
        font-size: 14px;
    }
    
    .btn {
        width: 90%;
        font-size: 15px;
        padding: 8px 16px;
    }
    
    /* Footer adjustments */
    .footer-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    
    .contact, .pages {
        visibility: hidden;
    }
    
    .social-media {
        visibility: visible;
    }
    
    .social-icon {
        width: 25px;
        height: 25px;
    }
    
    .foot-text {
        margin-top: 3px;
        text-align: center;
        font-size: 10px;
        width: 100%;
    }
    
    /* Main heading */
    .heading {
        font-size: 24px;
    }
    
    #main-product-image {
        width: 100%;
        height: auto;
    }
   
    .video-container iframe {
        width: 100%;
        height: 150px;
    }
    
    .data {
        flex-direction: column;
        align-items: center;
    }
    
    .data-card {
        margin: 5px 0;
        font-size: 19px;
        width: 100%;
    }
    
    .map iframe {
        width: 100%;
        height: 200px;
        visibility: visible;
    }
}

/* Tablets Devices  */
/* Media query for screens between 769px and 992px */
@media screen and (min-width: 769px) and (max-width: 992px) {
    header {
        background-color: #007a86;
        color: #fff;
        padding: 0 10px; /* Adjust padding as needed */
        width: 100%;
        display: flex;
        align-items: center;
      }
      
      
      .logo-text {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-left: 15px; /* Adds space between the logo and the text */
      }
      
    /* Adjust product images */
    .product-images-container {
        flex-direction: column;
        align-items: center;
    }
    
    .product-image {
        width: 100%;
        margin: 5px 0;
    }
    
    /* Explore cards adjustments */
    .explore-card {
        width: 90%;
        margin: 10px;
        font-size: 0.8rem;
    }
    
    .explore-info {
        font-size: 14px;
    }
    
    .btn {
        width: 90%;
        font-size: 15px;
    }
    
    /* Buttons */
    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
    
    /* Footer adjustments */
    .social-media {
        visibility: visible;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    
    .contact,
    .pages {
        visibility: hidden;
    }
    
    .social-icon {
        width: 25px;
        height: 25px;
    }
    
    .foot-text {
        margin-top: 3px;
        text-align: center;
        font-size: 10px;
        width: 100%;
    }
    
    /* Main heading */
    .heading {
        font-size: 24px;
    }
    
    #main-product-image {
        width: 100%;
        height: auto;
    }
    
    .video-container iframe {
        width: 100%;
        height: 150px;
    }
    
    .data {
        flex-direction: column;
        align-items: center;
    }
    
    .data-card {
        margin: 5px 0;
        font-size: 19px;
        width: 100%;
    }
    
    .map iframe {
        height: 200px;
        width: 100%;
        visibility: visible;
    }
}

    @media screen and (min-width: 993px) and (max-width: 1400px) {
        header {
            background-color: #007a86;
            color: #fff;
            padding: 0 8px;
            width: 100%;
            display: flex;
            align-items: center;
        }
        
        .logo-img {
            display: none;
        }
        
        .logo-text {
            font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
            font-size: 18px;
            margin-left: 15px;
        }
        
        /* Adjust product images */
        .product-images-container {
            flex-direction: column;
            align-items: center;
        }
        
        .product-image {
            width: 70%;
            margin: 5px 0;
        }
        
        /* Explore cards adjustments */
       
        /* Buttons */
        .btn {
            padding: 8px 16px;
            font-size: 14px;
        }
        
        /* Footer adjustments */
       
        
        /* Main heading */
        .heading {
            font-size: 24px;
        }
        
        #main-product-image {
            width: 100%;
            height: auto;
        }
        
        .video-container iframe {
            width: 100%;
            height: 150px;
        }
        
        .data {
            flex-direction: column;
            align-items: center;
        }
        
        .data-card {
            margin: 5px 0;
            font-size: 19px;
            width: 90%;
        }
        
        .map iframe {
            height: 200px;
            width: 100%;
            visibility: visible;
        }
       
        
    }
    
