.feature-card {
    display: flex;
    justify-content: space-between;
  
    margin: 10px;
}
.cards {
    width: 50%;
    border-radius: 20px;
    border: none;
    padding: 40px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.card-img {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}