.logo-img {
    height: 150px; 
    width: auto;
    margin: 0 auto; 
}

.logo-text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 0 auto; 
    align-items: center;
}

.home-img{
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 120px;
    border: none;
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    border-radius: 40%;
    background-color: #fff;
}

.home-icon{
    height: 40px;
    padding:5px 5px 1px;
}

.back-img{
    cursor: pointer;
    margin-right:auto;
    margin-left: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    border-radius: 40%;
    background-color: #fff;
    width: 50px;
}

.back-icon{
    height: 40px;
    padding:5px 5px 1px;
}
.envelope-img {
    height: 500px;
    display: block;
    margin:auto ;
}

hr {
    margin: 0 50px;
    border: solid;
    color:#0d4f4f ;
    border-radius: 10px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0f5858;
    font-size: 50px;
    text-align: center;
    margin:10px 0;
}
.Thank-box{
    border: #0d4f4f solid;
    width: 50%;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 20px;
}

.Thank-txt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0f5858;
    font-size: 40px;
    text-align: center;
    margin:10px 0;
}   

/* media queries */
/* Small Devices  */
@media screen and (max-width: 600px){
    .envelope-img {
        height: 200px;
        display: block;
        margin:auto ;
    }
    .Thank-box{
        border: #0d4f4f solid;
        width: 80%;
        border-radius: 8px;
        margin: auto;
        margin-bottom: 20px;
    }
    .Thank-txt{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0f5858;
        font-size: 30px;
        text-align: center;
        margin:10px 0;
    }   
}

 /* Normal Devices  */
@media screen and (min-width: 601px) and (max-width: 768px){
    .envelope-img {
        height: 200px;
        display: block;
        margin:auto ;
    }
    .Thank-box{
        border: #0d4f4f solid;
        width: 50%;
        border-radius: 8px;
        margin: auto;
        margin-bottom: 20px;
    }
    .Thank-txt{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0f5858;
        font-size: 27px;
        text-align: center;
        margin:10px 0;
    }   
}


/* Tablets Devices  */
@media screen and (min-width: 769px) and (max-width: 992px){
    .envelope-img {
        height: 200px;
        display: block;
        margin:auto ;
    }
    .Thank-box{
        border: #0d4f4f solid;
        width: 60%;
        border-radius: 8px;
        margin: auto;
        margin-bottom: 20px;
    }
    .Thank-txt{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #0f5858;
        font-size: 30px;
        text-align: center;
        margin:10px 0;
    }   
}

/* Large Devices  */
@media screen and (min-width: 993px) and (max-width: 1200px){
}