body {
  background-color: #d3f1f1;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007a86;
  color: #fff;
  padding: 0 15px; /* Adjust padding as needed */
  width: 100%;
  display: flex;
  align-items: center;
  
}

.logo-img {
  height:150px; /* Matches the header height */
  width: auto;
}

.logo-text {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 35px;
  margin-left: 15px; /* Adds space between the logo and the text */
}

nav {
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}

.heading2 {
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #50adff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border: 2px solid dashed;
  box-shadow: 0px 0px 40px 0px #10353e;
  transition-duration: 0.9s;
    }
  .main-heading{
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bold;
        color: #10353e;
      }

.btn-content {
  border: none;
  background-color: #50adff;
  color: #fff;
  font-size: 35px;
  border-radius: 4px;
  padding: 0px 150px;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}

.main-class {
  align-items: center;
  margin: 2px auto;
}

.moving-text {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blink {
  animation: blinker 1.5s linear infinite;
  color: #10353e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  justify-content: space-around;
  font-weight: bold;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}

.user-Scroll {
  border: 3px solid #10353e;
  box-shadow: 0 0 6px rgba(36, 67, 40, 0.8);
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
  background-image: url('../Images/Home img.jpg');
  padding: 10px;
}

.Scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-btn {
  height: 50px;
  width: 70px;
  cursor: pointer;
}

.Scroll-img {
  border-radius: 20px;
  height: 600px;
  width: 850px;
}

.bttn {
  padding: 10px 30px;
  background-color: #50adff;
  color: white;
  margin: 30px 660px;
  border-radius: 20px;
  box-shadow: 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #10353e;
}

button a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*Explore-card */
.Wonders {
  font-weight: bold;
  font-size: 30px;
  color: #10353e;
  justify-content: center;
  text-align: center;
}

.explore-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.explore-card {
  border-radius: 10px;
  background-color: #F0F0F0;
  margin: 20px;
  transition: transform 400ms ease-in;
  width: 400px;
  height: 525px;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);
}

#img {
  height: 400px;
  width: 100%;
  border-radius: 10px 10px 70px 70px;
}

.explore-card img {
  width: 180px;
  height: 400px;
}

.explore-info {
  font-weight: bolder;
  font-size: 25px;
  padding: 20px 35px;
  color: #10353e;
  margin-top: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
  padding: 10px 60px;
  font-size: 20px;
  color: white;
  background-color: #10353e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.explore-card:hover {
  transform: scale(1.1);
  border: 2px solid dashed;
  box-shadow: 0px 0px 20px 0px #10353e;
}

.theme-switcher-container {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 20px;
  position: fixed;
}

.theme-selector {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.bg-dark {
  background-color: #10353e;
  color: white;
}

.bg-light {
  background-color: #d3f1f1;
}

.bg-dark .blink {
  color: white;
}

.bg-dark .main-heading {
  
  color: white;
}

/* Responsive Media Queries */

/* For devices with max-width 1200px */
@media (max-width: 1200px) {
  header {
    background-color: #007a86;
    color: #fff;
    padding: 0 15px; /* Adjust padding as needed */
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height:150px; /* Matches the header height */
    width: auto;
  }
  
  .logo-text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 15px; /* Adds space between the logo and the text */
  }
  .heading2 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #50adff;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 2px solid dashed;
    box-shadow: 0px 0px 40px 0px #10353e;
    transition-duration: 0.9s;
      }

    .main-heading{
          font-size: 50px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          font-weight: bold;
        }
  
  .btn-content {
    border: none;
    background-color: #50adff;
    color: #fff;
    font-size: 35px;
    border-radius: 4px;
    padding: 0px 150px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  }
  
  .main-class {
    align-items: center;
    margin: 2px auto;
  }
  
  .user-Scroll {
    border: 4px solid #10353e;
    box-shadow: 0 0 6px rgba(36, 67, 40, 0.8);
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 50px;
    background-image: url('../Images/Home img.jpg');
    padding: 10px;
  }

  .bttn {
    padding: 10px 30px;
    background-color: #50adff;
    color: white;
    margin: 30px 660px;
    border-radius: 20px;
    box-shadow: 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #10353e;
  }
  
  button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  /*Explore-card */
  .Wonders {
    font-weight: bold;
    font-size: 30px;
    color: #10353e;
    justify-content: center;
    text-align: center;
  }
  
  .explore-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .explore-card {
    background-color: #F0F0F0;
    margin: 20px;
    transition: transform 400ms ease-in;
    width: 400px;
    height: 525px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  #img {
    height: 400px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
  
  .explore-card img {
    width: 180px;
    height: 400px;
  }
  
  .explore-info {
    font-weight: bolder;
    font-size: 25px;
    padding: 20px 35px;
    color: #10353e;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .btn {
    padding: 10px 60px;
    font-size: 20px;
    color: white;
    background-color: #10353e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  
  .explore-card:hover {
    transform: scale(1.1);
    border: 2px solid dashed;
    box-shadow: 0px 0px 20px 0px #10353e;
  }
}


/* For devices with max-width 768px */
@media (max-width: 768px) {
 header {
    background-color: #007a86;
    color: #fff;
    padding: 0 10px; /* Adjust padding as needed */
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    display: none;
  }
  
  .logo-text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 15px; /* Adds space between the logo and the text */
  }
  
.card:hover {
    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.2);
    border: 2px solid dashed;
    box-shadow: 0px 0px 30px 0px #10353e;
    transition-duration: 0.9s;
      }
    .main-heading{
          font-size: 40px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          font-weight: bold;
        }
  
  .btn-content {
    border: none;
    background-color: #50adff;
    color: #fff;
    font-size: 35px;
    border-radius: 4px;
    padding: 0px 150px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  }
  
  .main-class {
    align-items: center;
    margin: 2px auto;
  }
  
  
   .user-Scroll {
    display: none;
  }
  
  .bttn {
    padding: 10px 30px;
    background-color: #50adff;
    color: white;
    margin: 30px 660px;
    border-radius: 20px;
    box-shadow: 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #10353e;
  }
  
  button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  /*Explore-card */
  .Wonders {
    font-weight: bold;
    font-size: 30px;
    color: #10353e;
    justify-content: center;
    text-align: center;
  }
  
  .explore-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .explore-card {
    background-color: #F0F0F0;
    margin: 20px;
    transition: transform 400ms ease-in;
    width: 420px;
    height: 500px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  #img {
    height: 350px;
    width: 100%;
    border-radius: 0px 0px 7px 7px;
  }
  
  .explore-card img {
    width: 180px;
    height: 380px;
  }
  
  .explore-info {
    font-weight: bolder;
    font-size: 25px;
    padding: 20px 35px;
    color: #10353e;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
.explore-card:hover {
    transform: scale(1.1);
    border: 2px solid dashed;
    box-shadow: 0px 0px 18px 0px #10353e;
  }


  .blink {
    animation: blinker 1.5s linear infinite;
    color: #10353e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    justify-content: space-around;
    font-weight: bold;
  }


  .pages {
    display: none;
  }

  
  .footer-container {
    display: flex;
    flex-direction: row;
  
  }
  
  .contact {
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  
  }
}

/* For devices with max-width 480px */
@media (max-width: 480px) {
  header {
    background-color: #007a86;
    color: #fff;
    padding: 0 8px; /* Adjust padding as needed */
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    display: none;
  }
  .logo-text {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: 15px; /* Adds space between the logo and the text */
  }
  
.card:hover {
    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.2);
    border: 2px solid dashed;
    box-shadow: 0px 0px 20px 0px #10353e;
    transition-duration: 0.9s;
      }
    .main-heading{
          font-size: 25px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          font-weight: bold;
        }
  
  .main-class {
    align-items: center;
    margin: 2px auto;
  }
  
  .container4 {
    display: flex;
    overflow-x: auto;
  }
  
  .container4 img {
    margin-right: 15px;
    height: 500px;
    width: 900px;
  }
  
  .container4::-webkit-scrollbar {
    display: none;
  }
  
   .user-Scroll {
    display: none;
  }
  
  .bttn {
    padding: 10px 30px;
    background-color: #50adff;
    color: white;
    margin: 30px 660px;
    border-radius: 20px;
    box-shadow: 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #10353e;
  }
  
  button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  /*Explore-card */
  .Wonders {
    font-weight: bold;
    font-size: 30px;
    color: #10353e;
    justify-content: center;
    text-align: center;
  }
  
  .explore-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .explore-card {
    background-color: #F0F0F0;
    margin: 20px;
    transition: transform 400ms ease-in;
    width: 300px;
    height: 350px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  #img {
    height: 240px;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
  }
  
  .explore-card img {
    width: 180px;
    height: 400px;
  }
  
  .explore-info {
    font-weight: bold;
    font-size: 18px;
    padding: 20px 35px;
    color: #10353e;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .btn {
    padding: 8px 40px;
    font-size: 15px;
    color: white;
    background-color: #10353e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  
  .explore-card:hover {
    transform: scale(1.1);
    border: 2px solid dashed;
    box-shadow: 0px 0px 20px 0px #10353e;
  }

 .blink {
    animation: blinker 1.5s linear infinite;
    color: #10353e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    justify-content: space-around;
    font-weight: bold;
  }

.pages {
    display: none;
  }

  
  .footer-container {
    display: flex;
    flex-direction: row;
    }
  
  .contact {
   display: none;
  }


  .social-icon {
    height: 30px;
    width: 30px;
  }
  
  .social-media {
    margin-top: 70px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
  }
}



.footer-container {
  display: flex;
  flex-direction: row;
}

.contact {
  margin-top: 40px;
  padding-left: 260px;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pages {
  font-size: 18px;
  margin-top: 5px;
  padding-right: 270px;
  padding-top: 10px;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}


.social-icon {
  height: 50px;
  width: 50px;
}

.social-media {
  margin-top: 70px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
}

nav {
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}

footer {
  background-color: #007a86;
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 6px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 6px auto;
  justify-content: space-around;
}

.foot-text {
  text-align: center;
  font-size: 20px;
}

.social-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

















































